certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.2
idna==3.10
lbry-libtorrent==1.2.4
libtorrent==2.0.11
protobuf==6.31.1
pycparser==2.22
pyparsing==3.2.3
requests==2.32.4
setuptools==80.9.0
urllib3==2.5.0
yt-dlp==2025.7.21
yt-dlp-get-pot==0.3.0
